@media all and (display-mode: fullscreen) {
    svg.fullscreen {
        display: none;
    }
}

svg.fullscreen {
    position: absolute;
    top: 7%;
    right: 0;
    width: 2.5%;
    height: unset;
    z-index: 1000;
    fill: white;
    padding: 0.35%;
    padding-right: 0.20%;
    background-color: #000000A8;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}