div.show {
    color: black;
    user-select: none;
    width: 100%;
    height: 100%;
    position: relative;
}

div.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media all and (display-mode: fullscreen) {
    div.show {
        cursor: none;
    }
}