@media all and (display-mode: fullscreen) {

    svg.play,
    svg.next,
    svg.previous {
        display: none;
    }
}

svg.play,
svg.next,
svg.previous {
    position: absolute;
    height: 5%;
    width: unset;
    max-width: 5%;
    aspect-ratio: 1 / 1;
    z-index: 1000;
    fill: white;
    padding: 0.35%;
    padding-right: 0.20%;
    background-color: #000000A8;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

svg.play {
    top: 13%;
    right: 0;
}

svg.next {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

svg.previous {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    padding-right: 0.35%;
    padding-left: 0.20%;

}