div.grid {
    --border-width: calc(var(--container-size) *0.005);
    display: grid;
    padding-bottom: var(--border-width);
    padding-right: var(--border-width);
}

div.grid>div {
    border: var(--border-width) solid #888;
    height: calc(100% + var(--border-width));
    width: calc(100% + var(--border-width));
    margin-bottom: -var(--border-width);
    margin-right: -var(--border-width);
    position: relative;
}